name: ft_transcendence

include:
  - ./backend/compose-backend.yml
  - path: ./elk/compose-elk.yml
    env_file: .env
  - path: ./monitoring/compose-monitoring.yml
    env_file: .env

services:
  frontend:
    container_name: frontend
    networks:
      - app
    depends_on:
      - gateway
    build:
      context: ./frontend
    expose:
      - 80
    restart: unless-stopped

  reverse-proxy:
    container_name: reverse_proxy
    networks:
      - app
      - monitoring
      - elk
    depends_on:
      frontend:
        condition: service_started
      gateway:
        condition: service_started
      kibana:
          condition: service_healthy
      prometheus:
          condition: service_healthy
      grafana:
        condition: service_started
    build:
      context: ./reverse-proxy
    ports:
      - 8080:80
      - 4443:443
    restart: unless-stopped


volumes:
  certs:
  es-data:
  kibana-data:
  logstash-data:
  logstash-keystore:
  filebeat-data:
  app_logs:
  prometheus-data:
  grafana-data:

networks:
  app:
  elk:
  monitoring:
